.login-container {
  height: 100vh;
  background: url('https://wallpaperbat.com/img/645546-hospital-wallpaper-top-free-hospital-background.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .login-card {
    width: 450px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    .card-body {
      padding: 2.5rem;

      .card-title {
        font-weight: 700;
        color: #000000;
        font-family: 'Roboto Slab', serif;
        font-size: 1.5rem;
      }

      .form-label {
        font-weight: 600;
        font-family: 'Segoe UI', sans-serif;
      }

      .form-control {
        border-radius: 8px;
        padding: 0.6rem 0.75rem;
        font-size: 1rem;

        &.is-invalid {
          border-color: #dc3545;
        }
      }

      .invalid-feedback {
        font-size: 0.8rem;
        color : red;
      }

      .alert {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
      }

      .btn {
        font-weight: 600;
        padding: 0.6rem;
        font-size: 0.8rem;
        font-style: Arial;
        border-radius: 8px;
        color : white;
        background-color: #3f51b5; // buttin color
      }

      .spinner-border {
        vertical-align: middle;
      }

      .text-center {
        a {
          color: #000000;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
            background-color: #00b7ff73; 
          }
        }
      }
    }
  }
}
